@model IEnumerable<GlobalSolution_MVC.Models.Denuncia>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DataHora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Localizacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AutoridadeAmbiental)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notificacao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DataHora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Localizacao.Latitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AutoridadeAmbiental.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notificacao.Descricao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DenunciaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DenunciaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DenunciaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
